<div class="bg-primary text-center" style="height: 92.9vh">
  <br /><br /><br />
  <h2>Please login</h2>
  <br /><br /><br />
  <form (ngSubmit)="onSubmit()">
    <label>Username: </label>
    <input
      type="text"
      [(ngModel)]="credentials.username"
      [ngModelOptions]="{ standalone: true }"
    />
    <br /><br />
    <label>Password:</label>
    <input
      type="password"
      [(ngModel)]="credentials.password"
      [ngModelOptions]="{ standalone: true }"
    />

    <br /><br />
    <button class="btn btn-warning" type="submit">login</button>
  </form>

  <br />
  <br />
  <button class="btn btn-info" routerLink="/register">
    Register for an account
  </button>
</div>
