<button routerLink="/home">back</button>
<div *ngIf="tourney !== undefined; else elseBlock">
  <h1>{{ tourney.title }}</h1>

  <table class="table" style="width: 50%">
    <thead>
      <th>Player</th>
      <th>Pick</th>
      <th>Alive</th>
    </thead>
    <tbody>
      <tr *ngFor="let tp of tourney.players">
        <td *ngIf="isCurrentUser(tp); else elseUser" class="font-weight-bold">
          You
        </td>
        <ng-template #elseUser
          ><td>{{ tp.player.username }}</td></ng-template
        >
        <td class="ms-xl-5" *ngIf="doesPlayerHavePick(tp); else elseBlock">
          {{ tp.tpPicks[dayOfTourney].pick.teamName }}
        </td>
        <ng-template #elseBlock><td>Needs to select a Team</td></ng-template>
        <td>{{ tp.alive }}</td>
      </tr>
    </tbody>
  </table>

  <form>
      <select>
          <option *ngFor="let team of teamList" >
              {{team.teamName}}
          </option>
      </select>
  </form>
</div>
<ng-template #elseBlock>
  <div
    class="d-flex justify-content-center align-items-center"
    style="height: 85vh; with: 500px"
  >
    <div
      class="spinner-border text-primary"
      style="height: 10rem; width: 10rem; border-width: 10px"
      role="status"
    >
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>
